.mint-tabbar {
    background: #eee;
    height: 50px;
    border-top: 1px solid #ddd;
    .mint-tab-item-icon {
        margin-top: 6px;
    }
    .mint-tab-item.is-selected {
        background:none;
    }
    .mint-tab-item.is-selected i{
      background-image: url("/static/sp2.png");
    }
    .main-icon {
        background: url("/static/sp.png") center center no-repeat;
        background-position: (-636*0.75)+px (-228*0.75)+px;
    }
    .music-icon {
        background: url("/static/sp.png") center center no-repeat;
        background-position: (-468*0.75)+px (-340*0.75)+px;
    }
    .center-icon {
        background: url("/static/sp.png") center center no-repeat;
        background-position: (-468*0.75)+px (-284*0.75)+px;
    }
    .search-icon {
        background: url("/static/sp.png") center center no-repeat;
        background-position: (-356*0.75)+px (-172*0.75)+px;
    }
    .playing-model {
        position: relative;
        top: -20px;
        height: 70px;
        width: 70px;
        overflow: hidden;
        margin: 0 20px;
        .playing-model-icon {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 16px;
            border-radius: 50%;
            box-shadow: 0px 0px 1px 0px #ddd;
            border: 2px solid #eee;
            top: -8px;
            width: 66px;
            height: 66px;
            background-color: #666;
            .loading-model{
              margin-top: 19px;
            }
        }
    }
}
